doctype html
html
	head
		meta(charset='utf-8')
		meta(content='IE=edge', http-equiv='X-UA-Compatible')
		title Title
		meta(content='width=device-width, initial-scale=1', name='viewport')
		meta(content='Writings | Gema Buj', name='og:site_name')
		meta(content='blog', name='og:type')
		meta(name='description', content='Writing')
		//if lt IE 9
			script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
		link(href='//cloud.typography.com/6222872/746702/css/fonts.css', media='all', rel='stylesheet', type='text/css')
		link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', media='all', rel='stylesheet', type='text/css')
		link(href='stylesheets/application.css', media='all', rel='stylesheet', type='text/css')
		link(href='/stylesheets/print.css', media='print', rel='stylesheet', type='text/css')
	//masukan cballjd-02 disini
	body.index
		header.hidden-print
			.container
				.row
					.col-md-12
						.home
							a(href='/')
								span.title Title
								span.name  by Gema Buj 
						ul.nav.nav-pills
							li
								a(href='/about') About
							li
								a(href='/') Posts
							li
								a(href='/talks') Talks
							li
								a(href='/contact') Contact
		//masukan cballjd-03 disini
		.container
			.row
				#main.col-md-10.col-md-offset-1
					article
						.post-header
							.inner
								a(href='')
									img.img-responsive(src='')
								.date
									.month Dec
									.day 
									.year 
						.post-body
							h2.title
								a(href='')
									| Article Title 
							.date.subtitle December 22, 2014
							.by
								a.author(target='_blank', href='')
									img(src='')
									.twitter
										div
											i.fa.fa-twitter
											|  My Twitter
							hr
							p
								| Text
							a.read-more-link(href='') Continue reading »
						hr
					//masukan cball-jd-04 disini
					article
						.post-header
							.inner
								a(href='')
									img.img-responsive(src='#=')
								.date
									.month Dec
									.day 
									.year 
						.post-body
							h2.title
								a(href='')
									| Article Title  
							.date.subtitle December 22, 2014
							.by
								a.author(target='_blank', href='')
									img(src='')
									.twitter
										div
											i.fa.fa-twitter
											|  My Twitter
							hr
							p
								| Text
							a.read-more-link(href='') Continue reading »
						hr
					//masukan cball-jd-04 disini
					
					//masukan cballjd-05-pagination disini
					#article-nav
						.pull-left
						.pull-right
							a(href='') Older »
		//masukan cballjd-06-footer disini
		footer
			ul.list-unstyled.hidden-print
				li
					a(href='')
						| Built by 
						i.fa.fa-twitter
						|  Gema Buj
			.echobind.center
				a(target='_blank', href='')
					img(src='')
			p.centered All content ©2015 Gema Buj
