@import 'variables';

pre {
  background: none;
  border: none;
  color: #333;
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: none;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-weight: normal;
}

article {
  font-size: 18px;
  line-height: 160%;

  background: #fff;
  border: 1px solid lighten(#59787F, 40%);
  // box-shadow: 0 0 12px 0 #888;
  margin-bottom: 32px;
  min-height: 300px;

  h2.title {
    margin: 36px 0 0 0;

    a {
      color: #333;
    }

    @media (min-width: 768px) {
      & {
        margin-top: 12px;
      }
    }
  }

  h3 {
    margin-top: 48px;
  }

  h4 {
    margin-top: 32px;
  }

  .date {
    color: lighten(#333, 30%);
  }
}

.post-header {
  h2 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 2px;

    a {
      color: #333;
    }
  }

  .date {
    color: #236574;
    padding: 14px;
    background: #fefefe;
    border-radius: 50%;
    width: 93px;
    height: 93px;
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 1;
    text-align: center;
    display: none;

    .month {
      text-transform:uppercase;
      font-size: 13px;
      color: #C1844D;
    }

    .day {
      font-size: 34px;
    }

    .year {
      color: #236574;
      margin-top: 2px;
    }
  }

  .inner {
    position: relative;

    &.no-image {
      background: #59787F;
      color: #fefefe;
      text-align: center;
      padding: 122px 0;
    }
  }
}

.post-body {
  position: relative;

  img {
    display:block;width:600px;max-width:100%;margin: 20px auto;

    &.normal, &.no-resize {
      width:auto;
    }

    &.vspace {
      margin: 40px auto;
    }
  }
}


.post-body, #comments {
  padding: 20px;
}

@media (min-width: 768px) {
  .post-body, #comments {
    padding: 40px 80px;
  }
}

@media (min-width: 992px) {
  .post-body, #comments {
    padding: 60px 100px;
  }
}

#comments {
  margin-top: 0;
  padding-top: 0;
}

.tags {
  margin-bottom: 24px;

  &> li > a {
    color: #ddd;
    font-size: 14px;
    font-style: italic;
    padding: 2px 4px;

    .name {
      padding: 0 4px;
      color: #aaa;
    }
  }
}

#upsell {
  padding: 30px 40px;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 3px;
  background: $electric-blue;
  color: #fefefe;

  h3 {
    margin-top: 0;
  }

  p {
    line-height: 20px;
    margin-bottom: 24px;
  }

  .btn {
    text-transform: uppercase;
  }
}

.read-more-link {
  display: block;
  margin-top: 24px;
}

.vspace {
  margin-top: 40px;

  &.large {
    margin-top: 60px;
  }
}

.topic-title {
  text-align: center;
  margin-bottom: 1em;
}

.by {
  top: -26px;
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;

  img {
    display: inline-block;
    margin: 0;
    width: 43px;
    border-radius: 50%;
    border: 1px solid #aaa;
  }

  .twitter {
    color: #aaa;
    font-size: 13px;

    .fa-twitter {
      font-size: 14px;
    }
  }


  @media (min-width: 768px) {
    & {
      top: -36px;

      img {
        width: 60px;
      }
    }
  }
}
